main.userDetail{
    width: 100%;
    form.form-userDetail{
        width: 90%;
    }
    .history-section{
        .title{
            font-weight: 500;
            font-size: 1.2rem;
            border-bottom: 2px solid;
        }
        .content{
            padding: 10px 18px;
            background-color: #02122d;
            color: #fff;
            margin-top: 10px;
            max-height: 550px;
            overflow-y: auto;
            .box{
                .day {
                    border-bottom: 1px solid #ffffff59;
                }
                ol{
                    li{
                        margin-left: 30px;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 1200px){
    main.userDetail form.form-userDetail {
        width: 100%;
    }
}