@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&display=swap");
.home-page .center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
}

.home-page::before {
  background-image: url(../img/background-temp.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  content: "";
  display: block;
  width: 100%;
  background-attachment: fixed;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.home-page .menu span.item {
  border: 2px solid #fff;
  padding: 5px 50px;
  display: inline-block;
  margin: 0 15px;
  -webkit-transition: all .4s;
  transition: all .4s;
  cursor: pointer;
}

.home-page .menu span.item a {
  font-size: 1.4rem;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  font-family: 'Fira Sans', sans-serif;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.home-page .menu span.item a:hover, .home-page .menu span.item a:active {
  color: #fff;
}

.home-page .menu span.item:hover, .home-page .menu span.item:active {
  background-color: #fff;
}

.home-page .menu span.item:hover a, .home-page .menu span.item:active a {
  color: black;
}

.home-page .logo {
  padding-bottom: 315px;
}

.home-page .logo img {
  -webkit-filter: drop-shadow(2px 4px 2px #fff);
          filter: drop-shadow(2px 4px 2px #fff);
}

footer {
  position: absolute;
  bottom: 0;
  padding: 25px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer ul.socail-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer ul.socail-list li.item {
  margin: 15px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

footer ul.socail-list li.item svg {
  fill: white;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  cursor: pointer;
}

footer ul.socail-list li.item.active {
  -webkit-filter: brightness(0.7);
          filter: brightness(0.7);
}

.home-page.loading-page, footer.loading-page {
  -webkit-filter: blur(5px);
          filter: blur(5px);
}

section.loading-page {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #4887bd;
  z-index: 9;
  -webkit-transition: all .3s;
  transition: all .3s;
}

@media only screen and (max-width: 576px) {
  .home-page .menu span.item {
    display: block;
    margin-bottom: 20px;
  }
  .home-page .logo {
    padding-bottom: 200px;
  }
}
/*# sourceMappingURL=main.css.map */