*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$color_1 : #001c4c;

@import 'login';

header{
    h1{
        text-transform: uppercase;
        color: $color_1;
    }
}

@import 'userList';
@import 'userCreate';
@import 'userDetail';