main.home-new-page{
    &::before{
        background-image: url(../img/background.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        display: block;
        content: "";
        width: 100%;
        height: 100vh;
        z-index: -1;
        position: absolute;
        top: 0;
        left: 0;
    }
    .box-body{
        position: absolute;
        top: 23%;
        left: 50%;
        transform: translate(-50%);
        color: #111;
        text-align: center;
        background-color: #fff;
        padding: 50px;
        width: 700px;
        border-radius: 30px;
    
        .logo{
            position: absolute;
            top: -15%;
            left: 50%;
            width: 100px;
            transform: translate(-50%);
            background-color: #fff;
            padding: 20px;
            border-radius: 50%;
            box-shadow: 1px 5px 17px -6px #333;
        }
        h1{
            font-size: 1.3rem;
            text-transform: uppercase;
            color: #01114c;
            margin-top: 35px;
        }
        h3{
            font-size: 1.1rem;
            color: #01114c;
        }
        hr{
            border-top: 1px solid #111;
            margin: 5px 0;
        }
        .box-btn{
            margin-top: 60px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .btn-nav{
                margin: 0 20px;
                background-color: #0b3d77;
                outline: 0;
                border: 0;
                padding: 10px 20px;
                color: #fff;
                width: 50%;
                border-radius: 30px;
                text-transform: uppercase;
                font-weight: 500;
                letter-spacing: 2px;
                transition: all .3s;
                &:hover, &:active{
                    background-color:#58a9e5;

                }
            }
        }
        h5{
            margin-top: 50px;
            text-transform: uppercase;
            margin-bottom: 5px;
            font-size: .9rem;
            color: #01114c;
        }
        ul.socail-list{
            list-style: none;
            display: flex;
            margin: 0;
            padding: 0;
            justify-content: center;
            margin-top: 10px;
            li{
                margin: 0 10px;
                svg{
                    width: 35px;
                    fill: #58a9e5;
                    border-radius: 50%;
                }
            }
        }
    }
}


// COLORS
$white: #fff;
$black: #000;
$back: dodgerblue; // Change the color if you want

// SPINNERS STYLES
.spinner{
    // Common styles
    width: 4rem;
    height: 4rem;
    z-index: 99999;
    // Individual styles
    &.spinner1{
      border: 3px solid rgba($white, .25);
      border-top-color: rgba($black, .5);
      border-radius: 50%;
      animation: rotation .8s ease infinite;
    }
    &.spinner2{
      border: 3px solid transparent;
      border-top-color: rgba($black, .5);
      border-bottom-color: rgba($black, .5);
      border-radius: 50%;
      animation: rotation .8s ease infinite;
    }
    &.spinner3{
      border-top: 3px solid rgba($black, .5);
      border-right: 3px solid transparent;
      border-radius: 50%;
      animation: rotation .8s linear infinite;
    }
    &.spinner4{
      background: rgba($black, .5);
      animation: flip 1.2s ease infinite;
    }
    &.spinner5{
      margin-top: 2rem; // just for centering the demo
      overflow: hidden;
      position: relative;
      height: .5rem;
      background: rgba($white, .25);
      &::before{
        content: '';
        position: absolute;
        left: -130%;
        width: 100%;
        height: 100%;
        background: rgba($black, .5);
        animation: progress 4s linear infinite;
      }
      
    }
    &.spinner6{
      position: absolute;
      top: 45%;
      left: 50%;
      background: $back;
      border-radius: 50%;
      animation: pulse 1s ease-in-out infinite;
      transform: translate(-50%, -50%) scale(0);
      width: 15rem;
      height: 15rem;
    }
    &.spinner7{
      position: relative;
      &::before, &::after{
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        transform: translate(-50%, -50%) scale(0);
      }
      &::before{
        background: $white;
        animation: pulse2 2s ease-in-out infinite;
      }
      &::after{
        background: $white;
        animation: pulse2 2s 1s ease-in-out infinite;
      }
    }
    &.spinner8{
      position: relative;
      perspective: 200px;
      &::before{
        display: block;
        content: '';
        width: 50%;
        height: 50%;
        background: rgba($black, .5);
        animation: 2s flipWalker ease infinite;
      }
    }
  }
  
  
  // ANIMATIONS
  @keyframes rotation{
    from{
      transform: rotate(0deg);
    }
    to{
      transform: rotate(360deg);
    }
  }
  
  @keyframes flip{
    0%{
      transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    }
    50%{
      transform: perspective(120px) rotateX(-180deg) rotateY(0deg);
    }
    100%{
      transform: perspective(120px) rotateX(-180deg) rotateY(-180deg);
    }
  }
  
  @keyframes progress{
    0%{
      left: -130%;
      background: rgba($black, .5);
    }
    50%{
      left: 130%;
      background: rgba($black, .5);
    }
    51%{
      background: rgba($white, .5);
    }
    100%{
      background: rgba($white, .5);
    }
  }
  
  @keyframes pulse{
    0%{
      transform: translate(-50%, -50%) scale(0);
      opacity: 1;
    }
    100%{
      transform: translate(-50%, -50%) scale(1.0);
      opacity: 0;
    }
  }
  
  @keyframes pulse2{
    0%, 100%{
      transform: translate(-50%, -50%) scale(0);
      opacity: 1;
    }
    50%{
      transform: translate(-50%, -50%) scale(1.0);
      opacity: 0;
    }
  }
  
  @keyframes flipWalker{
    0%{
      transform: translate(0, 0) rotateX(0) rotateY(0);
    }
    25%{
      transform: translate(100%, 0) rotateX(0) rotateY(180deg);
    }
    50%{
      transform: translate(100%, 100%) rotateX(-180deg) rotateY(180deg);
    }
    75%{
      transform: translate(0, 100%) rotateX(-180deg) rotateY(360deg);
    }
    100%{
      transform:  translate(0, 0) rotateX(0) rotateY(360deg);
    }
  }


// RESPONSIVE
@media only screen and (max-width: 768px){
    main.home-new-page .box-body{
        width: 90%;
    }
    main.home-new-page .box-body .box-btn .btn-nav{
        font-size: .75rem;
    }
}

@media only screen and (max-width: 576px) {
    main.home-new-page .box-body {
        padding: 25px;
    }
    main.home-new-page .box-body .box-btn .btn-nav {
        padding: 10px 0;
        margin: 5px;
    }
}